<html>
<body>
XYZ Foods <br>
Food to eat<br>

<form id="query_form" action="/query1" method="POST"><br>
All the food items on the menu <input type="submit" name="submit" value="list">
</form>
<hr>

<form id="query_form" action="/query2" method="POST"><br>
Enter calorie range<input type="text" name="query2_1"> <input type="text" name="query2_2"><br>
<input type="submit" name="submit" value="list">
</form>
<hr>

<form id="query_form" action="/query3" method="POST"><br>
Enter Calories<input type="text" name="query3_1"><br>
<input type="submit" name="submit" value="list">
</form>
<hr>

<form id="query_form" action="/query4" method="POST"><br>
Enter ingredient<input type="text" name="query4_1"><br>
Enter new ingredient name<input type="text" name="query4_2"><br>
Please press the button to retrieve<input type="submit" name="submit" value="list">
</form>
<hr>

<form id="query_form" action="/query5" method="POST"><br>
Enter Fat Content<input type="text" name="query5_1"><br>
Enter Weight <input type="text" name="query5_2"><br>
<input type="submit" name="submit" value="list">
</form>
<hr>


<form id="query_form" action="/query6" method="POST"><br>
Click to retrieve top 5 queries on fat content <input type="submit" name="submit" value="list">
</form>
<hr> 

<form id="query_form" action="/query7" method="POST"><br>
Enter Fat Content<input type="text" name="query7_1"><br>
OR<br>
Enter Calories <input type="text" name="query7_2"><br>
OR<br>
Enter Type of Snack <input type="text" name="query7_3"><br>
<input type="submit" name="submit" value="list">
</form>
<hr>
</body>
</html>